
.landingpage_body{
    width: 100%;
  height: 100vh;
    display: grid;
grid-template-rows: 1fr 2fr;

}
.landingpage_body::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://img.freepik.com/free-photo/pencils-sharpener-with-shavings_23-2147843245.jpg?w=1480&t=st=1721819863~exp=1721820463~hmac=0e2da9de00754e8ec9b51d08da5b5bf138c51783096bd520e2e5b82ecd3deb37');
  background-position: center;
  background-size: cover;
  z-index: -9;
}

.landingpage_body>header{
    display: flex;
justify-content: center;
align-items: center;
}
.landingpage_body>header>span{
    font-family: cursive;
    background: linear-gradient(90deg, rgba(42,126,82,1) 0%, rgba(9,235,207,1) 60%, rgba(255,0,247,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}
.rest_body{
    display: flex;
justify-content: center;
gap: 7rem;
}